body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
    overflow: hidden;
}
a:active, a:focus{
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }
  html {

    -webkit-tap-highlight-color: transparent;
  
  }
  .door-back {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bg-wrap.bg0{
    position: relative;
    margin: 0 auto;
    background: url("../images/bg-invite.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.bg-wrap.bg1{
    position: relative;
    margin: 0 auto;
    background: url("../images/invite_paper.png") no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
    height: 100%;
    background-position: 0 -10vh;
} 
.bg-wrap.bg2{
    position: relative;
    margin: 0 auto;
    background: url("../images/whyy.GIF") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.bg-wrap.bg4{
    position: relative;
    margin: 0 auto;
    background: url("../images/souv_bg.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.bg-wrap.bg3 {
    position: relative;
    margin: 0 auto;
    background: url("../images/cherrytree.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.souv_house {
    position: absolute;
    bottom: 9%;
    width: 85%;
    /* height: 10vh; */
    left: 7%;
}
.door-back{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 13%;
    width: 73vw;
    height: 30vh;
    /* height: 28vh; */
    background: url("../images/house.png") no-repeat;
    background-size: 100% 100%;   
}
.door1{
    position: absolute;
    left: 0;
    bottom: 0;
    /* width: 59vw; */
    width: 74vw;
    height: 30vh;
    background: url("../images/door-1.png") no-repeat;
    background-size: 100% 100%;
    transition: .5s;
    transform-origin: 0%;
}
.door2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 74vw;
    height: 30vh;
    background: url("../images/door-2.png") no-repeat;
    background-size: 100% 100%;
    transition: .5s;
    transform-origin: 0%;
}

/* .doorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
} */
/* width: 76vw;
height: 29vh; */

.doorOpen2 {
    transform: perspective(800px) rotateY(-120deg);
    /* z-index: 101; */
    /* left: 37%;
    bottom: 13%; */
    left: 22%;
    bottom: 4%;
    /* width: 80vw;
    height: 25vh; */
}
.doorOpen {
    transform: perspective(800px) rotateY(-120deg);
    /* z-index: 101; */
    /* left: 37%;
    bottom: 13%; */
    left: 35%;
    bottom: 4%;
    /* width: 80vw;
    height: 25vh; */
    z-index: 10;
}
.redoorOpen {
    left: 0;
    bottom: 0; 
    width: 59vw;
    height: 28vh;

    background-size: 100% 100%;
    /* z-index: 100; */
    transition: .5s;
    transform-origin: 0%;
    transform: initial;
}

.word {position: absolute;z-index: 10;height: fit-content;}
.word img{width: 100%;}
.video {
    width: 100%;
    min-height: 122vh;
    top: -20%;
    position:relative;
}
.open_video {
    width: 73vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
}
.open_invi {
    color: #fff;
    position: absolute;
    bottom: 10%;
    padding-bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.video {display: none;}
.answers img {width: 100%;}

.word_d {width: 12vw;top: 30%;right: 16%;}
.word_l {width: 12vw;top: 29%;right: 32%;}
.word_n {width: 10vw;top: 22%;left: 23%;}
.answers .word1, .word_wrap .word1{width: 10vw;/* height: 15px; */bottom: 49%;left: 52%;}
.answers .word2, .word_wrap .word2{width: 8vw;bottom: 43%;left: 68%;}
.answers .word3, .word_wrap .word3{width: 10vw;bottom: 48%;left: 65%;}
.answers .word4, .word_wrap .word4{width: 16vw;bottom: 63%;left: 27%;}
.answers .word5, .word_wrap .word5{width: 10vw;bottom: 54%;left: 28%;}

.word_wrap .word1 {bottom: 38%;}
.word_wrap .word2 {bottom: 30%;left: 35%;}
.word_wrap .word3 {bottom: 30%;}
.word_wrap .word4 {bottom: 31%;left: 44%;}
.word_wrap .word5 {bottom: 34%;left: 43%;}



.answers .word6, .word_wrap .word6 {
    width: 15vw;
    bottom: 59%;
    left: 37%;
}
.word_wrap .word6 {bottom: 37%;left: 23%;}

.answers .word7, .word_wrap .word7 {
    width: 22vw;
    bottom: 44%;
    left: 27%;
}
.word_wrap .word7 {bottom: 36%;left: 56%;}

.word_c {
    width: 10vw;
    top: 23%;
    left: 46%;
}
.word_o {
    width: 10vw;
    top: 36%;
    left: 46%;
}
.word_oo {
    width: 12vw;
    bottom: 63%;
    left: 16%;
}
.word_ooo {
    width: 10vw;
    top: 41%;
    left: 46%;
}
.answers .word8, .word_wrap .word8 {
    width: 14vw;
    bottom: 43%;
    left: 51%;
}
.word_wrap .word8 {bottom: 40%;left: 30%;}

.answers .word9, .word_wrap .word9 {
    width: 11vw;
    bottom: 54%;
    left: 64%;
}
.word_wrap .word9 {bottom: 36%;left: 40%;}

.answers .word10, .word_wrap .word10 {
    width: 7vw;
    bottom: 49%;
    left: 43%;
}
.word_wrap .word10 {bottom: 33%;left: 29%;}

.word_t {
    width: 10vw;
    bottom: 50%;
    left: 38%;
}
.word_i {
    bottom: 56%;
    width: 11vw;
    left: 25%;
}
.answers .word11, .word_wrap .word11 {
    width: 10vw;
    bottom: 53%;
    left: 41%;
}
.word_wrap .word11 {bottom: 30%;left: 21%;}

.word_k {
    top: 34%;
    width: 10vw;
    left: 37%;
}
.word_s {
    top: 38%;
    width: 10vw;
    right: 14%;
}
.word_w {
    width: 10vw;
    top: 36%;
    left: 55%;
}
.answers .word12, .word_wrap .word12 {
    width: 8vw;
    bottom: 54%;
    left: 54%;
}
.answers .word13, .word_wrap .word13 {
    width: 10vw;
    bottom: 59%;
    left: 54%;
}
.answers .word14, .word_wrap .word14 {
    width: 10vw;
    bottom: 49%;
    left: 31%;
}
.word_wrap .word12 {bottom: 33%;left: 73%;}
.word_wrap .word13 {bottom: 39%;left: 64%;}
.word_wrap .word14 {bottom: 32%;left: 58%;}


.copy_right {
    position: absolute;
    left: 20px;
    top: 14px;
    width: 30vw;
}
.copy_right img {width: 100%;}

.out {
    position: absolute;
    width: 10vw;
    right: 20px;
    top: 10px;
}
.out img {width: 100%;}

#img1 {
    /* position: absolute;
    bottom: 10%;
    left: 15%;
    width: 84vw;
    padding-bottom: 12%; */
    position: absolute;
    bottom: 15%;
    left: 15%;
    width: 84vw;
    padding-bottom: 96%;
    background: url('../images/1.gif') no-repeat;
    background-size: cover;
}
#img2{
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100vw;
    padding-bottom: 96%;    
    background: url('../images/2.gif') no-repeat;
    background-size: cover;

}
#img3 {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100vw;
    padding-bottom: 96%;   
     background-size: cover;
    background: url('../images/3.gif') no-repeat;

}
#next {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 74%;
    height: 48%;
}
.click img {width: 100%;}


.quiz-wrapper {
    position: relative;
    display: block;
    /* width: 510px;
    height: 450px; */
  }
  .quiz-wrapper p.question-description {
    background: #19286C;
    color: white;
    padding: 25px 20px;
  }
  .quiz-wrapper ul.options {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 165px;
    list-style: none;
    border: 1px solid #19286C;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .quiz-wrapper ul.options li {
    border: 1px solid transparent;
    padding: 6px 8px;
  }
  .quiz-wrapper ul.options li.title {
    background: #19286C;
    color: white;
  }
  .quiz-wrapper ul.options li.option {
    display: block;
    position: relative;
    z-index: 50;
    font-size: 13px;
  }
    .answers {
    display: inline-block;
    width: 335px;
    font-size: 13px;
    line-height: 20px;
  }
.answers .target {
    display: inline-block;
    background: transparent;
    position: absolute;
    border: 1px dotted #999;
    border-radius: 20px;
  }
  .quiz-wrapper button[type="submit"] {
    display: block;
    position: relative;
    margin: 10px auto;
    padding: 10px;
    background: #19286C;
    border: none;
    color: white;
    font-size: 16px;
  }
  .lightbox-bg {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .status {
    display: none;
    position: absolute;
    z-index: 110;
    text-align: center;
    width: 80%;
    top: 220px;
    left: 47px;
  }
  .status p {
    background: white;
    padding: 30px;
  }

  

@media only screen and (min-width: 800px) {
    .bg-wrap {
        max-width:50%;
        margin:  0 auto;
        
    }
    .door1, .door2 {
        width: 33vw;
    height: 28vh;
    }
    .door-back {
        width: 33vw;
        height: 28vh;
    }
    .video {top: -27%;}
    /* .bg-wrap.bg2{
        background: url("../images/invite_paper.png") no-repeat;
        background-size: cover;
        background-position: 0 -27vh;
    }  */
    .bg-wrap.bg2{
        max-width: 40%;
    }

  
    .bg-wrap.bg2{
        position: relative;
        margin: 0 auto;
        background: url("../images/whyy.GIF") no-repeat;
        height: 100%;
        background-size: 100% 100%;
    }
    /* .bg-wrap.bg4{
        position: relative;
        margin: 0 auto;
        background: url("../images/souv_bg.png") no-repeat;
        height: 100%;
        background-size: 100% 100%;
    }
    .bg-wrap.bg3 {
        position: relative;
        margin: 0 auto;
        background: url("../images/cherrytree.png") no-repeat;
        height: 100%;
        background-size: 100% 100%;
    } */


    .open_invi {padding-bottom: 6%;}
    .word1{width: 5vw;}
    .word2 {width: 4vw;}
    .word10 {width: 3vw;}
    .word5 {
        width: 6vw;
    bottom: 32%;
    }
    .word3 {width: 6vw;}
    .word4{width: 11vw;}
    .word6{width: 10vw;}
    .word7{width: 13vw;}
    .word8{width: 8vw;}
    .word9{width: 7vw;}
    .word11 {width: 5vw;}
    .word12 {width: 3vw;}
    .word13 {
        width: 7vw;
        bottom: 32%;
    }
    .word14 {
        width: 6vw;
        bottom: 25%;
    }
}