body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 100%;
    overflow: hidden;
}
.bg-wrap{
    position: relative;
    margin: 0 auto;
    background: url("../images/bg-invite.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.bg-wrap.bg2{
    position: relative;
    margin: 0 auto;
    background: url("../images/invite_paper.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.word {position: absolute;}
.word img{width: 100%; height: 100%;}

.door-back{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 13%;
    width: 73vw;
    height: 30vh;
    /* height: 28vh; */
    background: url("../images/house.png") no-repeat;
    background-size: 100% 100%;
}
.door1{
    position: absolute;
    left: 0;
    bottom: 0;
    /* width: 59vw; */
    width: 74vw;
    height: 30vh;

    background: url("../images/door-1.png") no-repeat;
    background-size: 100% 100%;
    /* z-index: 100; */
    transition: .5s;
    transform-origin: 0%;
    /* transform-origin: left;

    transition: all 0.5s ease-in-out; */
}
.door2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 74vw;
    height: 30vh;
    background: url("../images/door-2.png") no-repeat;
    background-size: 100% 100%;
    transition: .5s;
    transform-origin: 0%;
}

/* .doorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
} */


    /* width: 76vw;
    height: 29vh; */

    .doorOpen2 {
        transform: perspective(800px) rotateY(-120deg);
        /* z-index: 101; */
        /* left: 37%;
        bottom: 13%; */
        left: 22%;
        bottom: 4%;
        /* width: 80vw;
        height: 25vh; */
    }

.doorOpen {
    transform: perspective(800px) rotateY(-120deg);
    /* z-index: 101; */
    /* left: 37%;
    bottom: 13%; */
    left: 35%;
    bottom: 4%;
    /* width: 80vw;
    height: 25vh; */
    z-index: 10;
}
.redoorOpen {
    left: 0;
    bottom: 0;
    width: 59vw;
    height: 28vh;

    background-size: 100% 100%;
    /* z-index: 100; */
    transition: .5s;
    transform-origin: 0%;
    transform: initial;
}

/* .door-opened .door-body2 {
    transform: perspective(3000px) rotateY( 
120deg
 );
    z-index: 99999;
    left: 29%;
    bottom: 13%;
    width: 100vw;
    height: 31vh;
} */
.video {display: none;}
.img33 {
    background: url("../images/C.png") no-repeat;
}
.word1 {
    width: 24px;
    height: 11px;
    bottom: 59%;
    left: 25%;
}
.word2 {
    width: 25px;
    height: 17px;
    bottom: 54%;
    left: 20%;
}
.word3 {
    width: 44px;
    height: 26px;
    bottom: 54%;
    left: 61%;
}
.word4 {
    width: 60px;
    height: 23px;
    bottom: 54%;
    left: 40%;
}
.word5 {
    width: 34px;
    height: 16px;
    bottom: 54%;
    left: 57%;
}
.word6 {
    width: 54px;
    height: 16px;
    bottom: 59%;
    left: 57%;
}
.word7 {
    width: 54px;
    height: 12px;
    bottom: 50%;
    left: 57%;
}
.word8 {
    width: 40px;
    height: 12px;
    bottom: 45%;
    left: 66%;
}
.word9 {
    width: 36px;
    height: 20px;
    bottom: 39%;
    left: 66%;
}
.word10 {
    width: 20px;
    height: 18px;
    bottom: 35%;
    left: 50%;
}
.word11 {
    width: 30px;
    height: 30px;
    bottom: 41%;
    left: 50%;
}
.word12 {
    width: 14px;
    height: 10px;
    bottom: 41%;
    left: 30%;
}
.word13 {
    width: 34px;
    height: 24px;
    bottom: 50%;
    left: 30%;
}
.word14 {
    width: 26px;
    height: 12px;
    bottom: 62%;
    left: 25%;
}
.copy_right {
    position: absolute;
    left: 20px;
    top: 14px;
    width: 30vw;
}
.copy_right img {width: 100%;}
.out {
    position: absolute;
    width: 8vw;
    right: 20px;
    top: 10px;
}
.out img {width: 100%;}
@media only screen and (min-width: 800px) {
    .bg-wrap {
        max-width:50%;
        margin:  0 auto;
        
    }
    .door1, .door2 {
        width: 33vw;
    height: 28vh;
    }
    .door-back {
        width: 33vw;
        height: 28vh;
    }
}