
.bg-wrap.bg0{
    position: relative;
    margin: 0 auto;
    background: url("../images/bg-invite.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.bg-wrap.bg1{
    position: relative;
    margin: 0 auto;
    background: url("../images/invite_paper.png") no-repeat;
    /* min-height: 100vh; */
        /* background-position: 0 -10vh; */
    /* background-size: cover;
    background-position: 50% 50%;
    height: 100%; */
    background-size: 145%;
    background-position: 50% 50%;
    height: 100%;
} 
.bg-wrap.bg2{
    position: relative;
    margin: 0 auto;
    background: url("../images/hae.gif") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.bg-wrap.bg4{
    position: relative;
    margin: 0 auto;
    background: url("../images/souv_bg.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}

.bg-wrap.bg5{
    position: relative;
    margin: 0 auto;
    background: url("../images/night_bg.png") no-repeat;
    height: 100%;
    background-size: 100% 100%;
}
.souv_house {
    position: absolute;
    bottom: 9%;
    width: 85%;
    left: 7%;
}

.word {position: absolute;z-index: 10;height: fit-content;}
.word img{width: 100%;}

.copy_right {position: absolute;left: 20px;top: 14px;width: 30vw;}
.copy_right img, .out img , .btn_next img, .click img,  .bg-wrap + button[type="submit"] img {width: 100%;}

.out {
    position: absolute;
    width: 10vw;
    right: 20px;
    top: 10px;
    background: none;
    border: none;
}
.bg-wrap.bg2 .btn_next, .bg-wrap.bg3 .btn_next, .bg-wrap.bg4 .btn_next, .bg-wrap.bg5 .btn_next {
    position: absolute;
    width: 15vw;
    right: 20px;
    bottom: 10px;
    background: none;
    border: none;
    z-index: 100;
}
.bg-wrap.bg0 .btn_next {
    position: absolute;
    width: 15vw;
    right: 20px;
    bottom: 10px;
    background: none;
    border: none;
    z-index: 100;
    display: none;
}
#next {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 74%;
    height: 48%;
}
.btn_invite {
    border: none;
    color: #fff;
    background: none;
    position: absolute;
    bottom: -3%;
    padding-bottom: 13%;
    right: 0;
    left: auto;
    z-index: 100;
    width: 15vw;
    transform: translateX(-50%);
}
/* .bg-wrap + button[type="submit"] {
    border: none;
    color: #fff;
    background: none;
    position: absolute;
    bottom: 10%;
    padding-bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
    border: none;
    color: #fff;
    background: none;
    position: absolute;
    bottom: -3%;
    padding-bottom: 13%;
    right: 0;
    left: auto;
    z-index: 100;
    width: 15vw;
    transform: translateX(-50%);
    display: none;
  } */

@media only screen and (min-width: 800px) {
    .bg-wrap {max-width:40%;margin:  0 auto;}
    .btn_next {width: 8vw;}
    .out {width: 4vw;}
    .copy_right {
        width: 17vw;
    }
    /* .bg-wrap.bg2{
        background: url("../images/invite_paper.png") no-repeat;
        background-size: cover;
        background-position: 0 -27vh;
    }  */
    .bg-wrap.bg2{
        max-width: 40%;
    }

    .bg-wrap + button[type="submit"]{
        border: none;
        color: rgb(255, 255, 255);
        background: none;
        position: absolute;
        bottom: 0px;
        padding-bottom: 1%;
        right: 30%;
        left: auto;
        z-index: 100;
        width: 6vw;
        transform: translateX(-50%);
    }
  
    .bg-wrap.bg2{
        position: relative;
        margin: 0 auto;
        background: url("../images/hae.gif") no-repeat;
        height: 100%;
        background-size: 100% 100%;
    }


    .open_invi {padding-bottom: 6%;width: 10vw;}
    
/* .answers .word1 {width: 6vw;bottom: 42%;left: 9%;}
.answers .word2 {width: 4vw;bottom: 15%;left: 3%;}
.answers .word3 {width: 6vw;bottom: 10%;left: 4%;}
.answers .word4 {width: 8vw;bottom: 35%;left: 5%;}
.answers .word5 {width: 6vw;bottom: 19%;left: 9%;}
.answers .word6 {width: 4vw;bottom: 36%;left: 15%;}
.answers .word7{width: 6vw;bottom: 7%;left: 5%;}
.answers .word8{width: 7vw;bottom: 8%;left: 0;}
.answers .word9{height: 4vw;width: 9vw;bottom: 6%;left: 6%;}
.answers .word10 {width: 4vw;bottom: 7%;left: 0;}
.answers .word11 {width: 4vw;bottom: 14%;left: 5%;}
.answers .word12 {width: 4vw;bottom: 29%;left: 11%;}
.answers .word13 {width: 6vw;bottom: 32%;left: 2%;}
.answers .word14 {width: 6vw;bottom: 12%;left: 7%;}
.answers .word15 {width: 6vw;bottom: 6%;left: 0%;}
.answers .word16 {width: 6vw;bottom: 40.5%;left: 5%;}
.answers .word17 {width: 3vw;bottom: 0;left: 3%;} */


.souv_house {
    width: 75%;
    /* height: 10vh; */
    left: 50%;
    transform: translateX(-50%);

}
}

@media (min-width: 1281px) {

}